<footer class="footer">
    
    <div class="footer-content">
        
        <h3 class="title-small">{{@blog.title}}</h3>
        
        <div class="imprint">
            Content copyright <a href="/">{{@blog.title}}</a> &copy; 2013 
        </div>   
        
        <div class="footer-icons">
            <a class="button subscribe icon-rss" target="_blank" href="{{@blog.url}}/rss/"></a>
            <a class="button icon-twitter-bird" target="_blank" href="https://twitter.com/spencerh414"></a>
            <a class="button icon-linkedin" target="_blank" href="www.linkedin.com/pub/spencer-handley/2b/8/2b1/"></a>
            <a class="button icon-github" target="_blank" href="http://www.github.com/spencer48"></a>
        </div>
        
    </div>
    
</footer>