<footer class="footer">
    
    <div class="footer-content">
        
        <h3 class="title-small">{{@blog.title}}</h3>
        
        <div class="imprint">
            Content copyright <a href="/">{{@blog.title}}</a> &copy; 2013 </br> Proudly published with <a href="http://tryghost.org" target="_blank">Ghost</a>
        </div>   
        
        <div class="footer-icons">
            <a class="button subscribe icon-rss" target="_blank" href="{{@blog.url}}/rss/"></a>
            <a class="button icon-gplus" target="_blank" href="https://plus.google.com/"></a>
            <a class="button icon-twitter-bird" target="_blank" href="https://twitter.com/"></a>
            <a class="button icon-facebook" target="_blank" href="https://www.facebook.com/"></a>
            <!-- More social profile icons:
            <a class="button icon-linkedin" target="_blank" href=""></a>
            <a class="button icon-vimeo" target="_blank" href=""></a>
            <a class="button icon-ebay" target="_blank" href=""></a>
            <a class="button icon-soundcloud" target="_blank" href=""></a>
            <a class="button icon-email" target="_blank" href=""></a>
            <a class="button icon-github" target="_blank" href=""></a>
            <a class="button icon-skype" target="_blank" href=""></a>
            <a class="button icon-lastfm" target="_blank" href=""></a>
            <a class="button icon-spotify" target="_blank" href=""></a>
            <a class="button icon-xing" target="_blank" href=""></a>
            <a class="button icon-foursquare" target="_blank" href=""></a>
            <a class="button icon-pinterest" target="_blank" href=""></a>
            <a class="button icon-pocket" target="_blank" href=""></a>   
            --> 
        </div>
        
    </div>
    
</footer>