<footer class="footer_aced">
	<a class="subscribe_aced icon-rss" target="_blank" href="{{@blog.url}}/rss/"><span class="hidethis_aced">Subscribe!</span></a>
	<div class="footertext_aced">All content copyright <a href="/">{{@blog.title}}</a> &copy; 2013 &bull; All rights reserved.</div>
	<div class="footertext_aced">Proudly published with <a class="icon-ghost" href="http://tryghost.org" target="_blank">Ghost</a></div>
</footer>